.idea
.gradle
build
gradle
build.gradle.kts
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle.kts
ytdl-android/build
ytdl-android/src/androidTest
ytdl-android/src/test
ytdl-android/.gitignore
ytdl-android/consumer-rules.pro
ytdl-android/proguard-rules.pro
ytdltestapp